body,
html {
    background-image: url("images/instagramBackground.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


#latlng {
    width: 350px;
}

#reverseGeocodingMap {
    text-align: center;
}

#submit {}

#photoPanel {
    text-align: center;
}

.panel {
    height: 100%;
    width: 100%;
}

.panel.blue {
    margin-bottom: 400px
}

.panel.turqoise {
    margin-bottom: 400px
}

}
.btn-success {
    margin: 5px;
    border-color: black;
}

#map {
	height: 300px;
}


