html, body {
      background-image: url("green_abbey.jpg");
  	height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Futura";

}


#latlng {
    width: 350px;
}

#reverseGeocodingMap {
    text-align: center;
}

#submit {}

#photoPanel {
    text-align: center;
}



.panel.blue {
    margin-bottom: 400px;
    margin-top: 50px;
        overflow: scroll;

  
}

.panel.turqoise {
    background-image: url("images/instagramBackground.jpeg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    overflow: scroll;

}

}
.btn-success {
    margin: 10px;
    border-color: black;
}

.btn {
    margin: 10px;
    border-color: black;
}

#map {
	height: 280px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
}

.panel-title {
	 font-family: "Futura";
    font-size: 20px;
    color: white;
}

.page-header {
	color: white;
}

p {
	color: white;
	font-size: 20px;
}
